<div class="well">
  Organizational framework built upon the work of <a href="http://thomasdav.is/">Thomas Davis</a> and his
  <a href="https://github.com/thomasdavis/backbonetutorials/tree/gh-pages/examples/modular-backbone">
  	Modular Backbone</a> tutorial in his
  	<a href="http://backbonetutorials.com/organizing-backbone-using-modules/">article</a> <br/>
  	with some additional help from <a href="http://twitter.com/tbranyen">Tim Branyen's</a>
  	<a href="https://github.com/tbranyen/github-viewer">GitHub Viewer</a>.
</div>