<div class="tweets">
	<h3>Results from search:</h3>

	{{#if tweets}}
		<table class="table table-striped">
			<tbody>
		{{#each tweets}}
		<tr>
	        <td><a href="#/map/{{from_user}}">{{from_user}}</a></td>
	        <td><strong>{{text}}</strong></td>
	    </tr>
	    {{/each}}
	</tbody>
</table>
    {{else}}
    	<h4>no tweets found matching search criteria</h4>
	{{/if}}
</div>